.logOut{
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 10px 15px;
    color: white;
    background-color: rgb(0, 89, 255);
    border: 1px solid transparent;
    border-radius: 3px;

}