@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');



.btn_back{
    width: 108px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Karla', sans-serif;
    cursor: pointer;
}